name: Publish to GitHub Pages

on:
  push:
    branches:
      - v*
  release:
    types:
      - published

permissions:
  id-token: write
  pages: write

jobs:
  check-event:
    runs-on: ubuntu-latest

    outputs:
      run-publish: ${{ steps.check-event.outputs.run-publish }}

    steps:
      - name: Checkout default repository
        if: github.event_name != 'release'
        uses: actions/checkout@v6

      - name: Check event
        id: check-event
        run: |
          if [[ "${{ github.event_name }}" != "release" ]]
          then
            # Get the tags for the branch; fetch-tags on checkout fails.
            git fetch
            
            # Publish will be skipped if it has a tag that matches the version format.
            if [[ `git tag --points-at HEAD "v*.*.*" | wc -l` -eq 0 ]]
            then
              echo "Non-release without version tag - publish will run"
              run_publish=true
            else
              echo "Non-release with version tag - publish will not run"
              run_publish=false
            fi
          else
            # Publish is always run on release.
            echo "Release - publish will run"
            run_publish=true
          fi
          
          echo run-publish=$run_publish >> "$GITHUB_OUTPUT"

  publish:
    needs: check-event

    if: needs.check-event.outputs.run-publish == 'true'

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Dump vars
        if: vars.DUMP_VARS == 'true'
        run: |
          cat << EOF
          ${{ toJSON(vars) }}
          EOF

      - name: Dump GitHub context
        if: vars.DUMP_GITHUB_CONTEXT == 'true'
        run: |
          cat << EOF
          ${{ toJSON(github) }}
          EOF

      - name: Checkout default repository (doc)
        uses: actions/checkout@v6
        with:
          path: doc

      - name: Reference branch
        id: ref-branch
        uses: aidc-toolkit/.github/actions/ref-branch@main
        with:
          path: doc

      - name: Setup base
        id: setup-base
        run: |
          if [[ "${{ github.event_name }}" = "push" ]]
          then
            base="/preview/"
          else
            base="/"
          fi
          
          # Create repository state file.
          mkdir -p doc/site/public
          cat > doc/site/public/repository.txt << EOF
          Date/time: `date`
          Branch name: ${{ steps.ref-branch.outputs.branch_name }}
          Publication base: $base
          EOF

          cat doc/site/public/repository.txt
          
          # Create empty scripts.
          touch patch-aidc-toolkit.sh
          touch link-aidc-toolkit.sh
          
          echo "base=$base" >> $GITHUB_OUTPUT

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ vars.NODE_VERSION }}
          registry-url: https://registry.npmjs.org/

      - name: Move .github
        run: |
          # Move .github to root to make actions accessible.
          mv doc/.github .

      - name: Start terminal session (pre build)
        if: vars.TERMINAL_PRE_BUILD == 'true'
        uses: mxschmitt/action-tmate@v3

      - name: Build dev
        uses: ./.github/actions/build-project-doc
        with:
          project: dev
          branch: ${{ steps.ref-branch.outputs.branch }}

      - name: Build core
        uses: ./.github/actions/build-project-doc
        with:
          project: core
          branch: ${{ steps.ref-branch.outputs.branch }}

      - name: Build utility
        uses: ./.github/actions/build-project-doc
        with:
          project: utility
          branch: ${{ steps.ref-branch.outputs.branch }}

      - name: Build gs1
        uses: ./.github/actions/build-project-doc
        with:
          project: gs1
          branch: ${{ steps.ref-branch.outputs.branch }}

      - name: Build demo
        uses: ./.github/actions/build-project-doc
        with:
          project: demo
          branch: ${{ steps.ref-branch.outputs.branch }}

      - name: Build app-extension
        uses: ./.github/actions/build-project-doc
        with:
          project: app-extension
          branch: ${{ steps.ref-branch.outputs.branch }}

      - name: Build doc
        uses: ./.github/actions/build-project-doc
        with:
          project: doc
          branch: ${{ steps.ref-branch.outputs.branch }}
          build_parameters: --base ${{ steps.setup-base.outputs.base }}

      - name: Start terminal session (post build)
        if: vars.TERMINAL_POST_BUILD == 'true'
        uses: mxschmitt/action-tmate@v3

      - name: Save release
        if: github.event_name == 'release'
        run: |
          # Create pages.zip.
          cd doc/.vitepress/dist
          zip -q -r pages .

      - name: Restore release
        if: github.event_name != 'release'
        run: |
          # Move content to preview directory.
          cd doc/.vitepress
          mv dist _dist
          mkdir dist
          mv _dist dist/preview
          
          cd dist
          
          # Patch preview.
          find preview -name "*.html" -print0 | xargs -0 sed -i -e 's/https:\/\/aidc-toolkit.com/https:\/\/aidc-toolkit.com\/preview/g'

          # Get and unzip release version.
          curl -s https://aidc-toolkit.com/pages.zip -o pages.zip
          unzip -qq pages.zip

      - name: Start terminal session (post zip)
        if: vars.TERMINAL_POST_ZIP == 'true'
        uses: mxschmitt/action-tmate@v3

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Upload pages directory
        uses: actions/upload-pages-artifact@v3
        with:
          path: doc/.vitepress/dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Start terminal session (post deploy)
        if: vars.TERMINAL_POST_DEPLOY == 'true'
        uses: mxschmitt/action-tmate@v3
